@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css);


:root {
  --background-color-white-gray: rgba(33, 37, 41, 0.03);
}


.table-container {
  margin-bottom: 0.5rem;
  background-color: var(--background-color-white-gray);
}

.table-data-container {
  overflow-y: auto;
  display: block;
  max-height: 30rem;
  margin-bottom: 1rem;
}

.table-embedded {
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.select-container {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.header-background {
  background-color: var(--background-color-white-gray);
  padding: 1rem;
}

.search-bar-holder {
  margin-bottom: 1rem;
}

.filial-card-holder {
  margin-bottom: 1rem;
}

.info-card {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.map-collapse {
  margin-top: 0.5rem;
  max-width: 100%;
  height: 17rem;
}

.map-card {
  height: 100%;
  width: 100%;
}

.map-rectangle {
  width: 100%;
  height: 25rem;
}

.rounded-start-top {
  border-top-left-radius: var(--bs-border-radius)!important;
}

.card-text-holder {
  margin-bottom: var(--bs-card-spacer-y);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
